*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    
    color: aliceblue;
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}
.logo{
    position: relative;
    right: 200px;
    font-size: 25px;
    color: aliceblue;
    text-decoration: none;
    font-weight: 600;
}
.logo::before{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #081b29;
    animation: showRight 1s ease forwards ;
    animation-delay: .4s;
}
.navbar a{
    font-size: 18px;
    color: aliceblue;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
}
.navbar a:hover,
.navbar a.active{
    color: aqua;

}
.homme{
    padding: 0 10%;
    height: 100vh;
    display: flex;
    align-items: center;
    background: url(home.jpg) no-repeat ;
    background-size: cover;
    background-position: center;
}
.homme-content{
    /* background-color: aqua; */
    max-width: 600px;
}
.homme-content h1{
    position: relative;
    font-size: 56px;
    font-weight: 700;
    line-height:1.2 ;
}
.homme-content h1::before{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #081b29;
    animation: showRight 1s ease forwards ;
    animation-delay: .1s;
}
.homme-content h3{
    position: relative;
    font-size: 32px;
    font-weight: 700;
    color: aqua;
}
.homme-content h3::before{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #081b29;
    animation: showRight 1s ease forwards ;
    animation-delay: .2s;
}

.homme-content p{
    position: relative;
    font-size: 16px;
    margin: 20px 0 40px;

}
.homme-content p::before{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #081b29;
    animation: showRight 1s ease forwards ;
    animation-delay: .1.6s;
}
.homme-content .btn-box{
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 345px;
    height: 50px;
    /* background-color: rgb(19, 238, 22); */
}
.homme-content .btn-box::before{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #081b29;
    animation: showRight 1s ease forwards ;
    animation-delay: .1.8s;
}
.btn-box a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100%;
    background: rgb(51, 164, 164);
    border: 2px solid  rgb(24, 246, 246);
    border-radius: 8px;
    font-size: 19px;
    color: #081b29;
    text-decoration:none ;
    font-weight: 600;
    letter-spacing: 1px;
    z-index: 1;
    overflow:hidden ;
    transition: .5s;
    
}
.btn-box a:nth-child(2){
    background: transparent;
    color: cyan;
}
.btn-box a:nth-child(2):hover{
    color: #081b29;
}
.btn-box a:nth-child(2)::before{
    background: #00abf0;
}
.btn-box a::before{
    content: '';
    position:absolute ;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #081b29;
    z-index:-1 ;
    transition: .5s;

}
.btn-box a:hover::before{
    width: 100%;
}
.btn-box a:hover{
    color: #00abf0;
}
.home-sci{
    position: absolute;
    bottom: 40px;
    width: 170px;
    display: flex;
    justify-content: space-between;
}
.home-sci::before{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #081b29;
    animation: showRight 1s ease forwards ;
    animation-delay: .1.8s;
}
.home-sci a{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #00abf0;
    border-radius: 50%;
    font-size:20px ;
    color: #00abf0;
    text-decoration: none;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}
.home-sci a:hover{
    color: #081b29;
}
.home-sci a::before{
    content: '';
    position:absolute ;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #00abf0;
    z-index: -1;
    transition:  .5s;
}
.home-sci a:hover::before{
    width: 100%;

}
.home-img{
    position: absolute;
    top: 0;
    right: 0;
    right: 30px;
    width: 500px;
    height: 100%;
    background: transparent;
    transition: 3s;

}
.home-img:hover{
    background: #081b29;
    opacity: .8;
} 
/* KEYFRAME ANIMATION */
@keyframes showRight{
    100%{
        width: 0;
    }
}
.box {
    position: relative;
    width: 200px;
    height: 300px;
    transform-style: preserve-3d;
    animation: animate 20s linear infinite;
    left: 1000px;
    bottom: 400px;

}

.box:hover{
    animation-play-state: paused;
}


@keyframes animate {
    0%{
        transform: perspective(1000px) rotateY(0deg);
    }
    100%{
        transform: perspective(1000px) rotateY(360deg);
    }
}

.box span{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-origin: center;
    transform-style: preserve-3d;
    transform: rotateY(calc(var(--i) * 36deg)) translateZ(450px);
    -webkit-box-reflect: below 2px linear-gradient(transparent, transparent, rgba(4, 4, 4, 0.267));
}



.box span img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: 0.5s;
    border-radius: 15px;
    border: 4px double rgb(0, 0, 0);
}

img:hover{
    transform: translateY(-2px);
    
}